@use "../node_modules/modern-normalize/modern-normalize.css";

@media (prefers-color-scheme: dark) {
  html {
    background-color: #0f172a;
    color: white;
  }

  dialog {
    background-color: #0f172a;
    color: white;
  }
}

@media (min-width: 640px) {
  body {
    header {
      width: 640px;
    }

    main {
      width: 640px;
    }

    footer {
      width: 640px;
    }
  }
}

@media (min-width: 768px) {
  body {
    header {
      width: 768px;
    }

    main {
      width: 768px;
    }

    footer {
      width: 768px;
    }
  }
}

@media (min-width: 1024px) {
  body {
    header {
      width: 1024px;
    }

    main {
      width: 1024px;
    }

    footer {
      width: 1024px;
    }
  }
}

@media (min-width: 1280px) {
  body {
    header {
      width: 1280px;
    }

    main {
      width: 1280px;
    }

    footer {
      width: 1280px;
    }
  }
}

@media (min-width: 1536px) {
  body {
    header {
      width: 1536px;
    }

    main {
      width: 1536px;
    }

    footer {
      width: 1536px;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    nav {
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}

ul {
  padding: unset;
}

li {
  list-style-type: none;
}

a {
  color: #0ea5e9;

  &:hover {
    color: #0284c7;
  }
}

button,
input[type="submit"] {
  background: #0ea5e9;
  color: inherit;
  border: none;
  border-radius: .25rem;
  padding: .5rem;
  cursor: pointer;

  &:hover {
    background: #0284c7;
  }
}

input[type="text"],
input[type="password"],
input[type="textarea"] {
  background: inherit;
  color: inherit;
  border-color: inherit;
  border-radius: .25rem;
  border-style: solid;
  padding: .25rem;
}

nav button {
  background: inherit;
  color: #0ea5e9;
  padding: inherit;
  text-decoration-line: underline;

  &:hover {
    color: #0284c7;
    background: inherit;
  }
}

dialog {
  display: block;

  &:not(:target):not([open]) {
    display: none;
  }
}